#main-slide-detail{
	color: #fff;
	background-color: #981023;
	.row{
		>div{
			&:not(.preview-video){
				h1{
					font-size: 28px;
					line-height: 38px;
					display: -webkit-box !important;
					-webkit-line-clamp: 3;
					-moz-line-clamp: 3;
					-ms-line-clamp: 3;
					-o-line-clamp: 3;
					line-clamp: 3;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					-o-box-orient: vertical;
					box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
					max-height: 125px;
					@media (max-width: 768px) { 
						font-size: 24px;
						font-weight: 600;
						line-height: 1.33em;
					}
				}
				.rating{
					padding-bottom: 8px;
				}
				.author{
					span{
						font-weight: 500;
						font-size: 14px;
						&:not(:first-child){
							margin-left: 5px;
						}
					}
				}
			}
			&.preview-video{
				border: 5px solid #981023;
				display: table;
				div{
					cursor: pointer;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					color: #fff;
					font-weight: 700;
					height: 100%;
					position: absolute;
					text-align: center;
					width: 100%;
					background: linear-gradient(rgba(41,48,59,0),rgba(41,48,59,0),#29303B);
					.play-btn{
						opacity: 1;
						visibility: visible;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						position: absolute;
						background: url('../img/course/play.svg') no-repeat;
						background-size: auto 45%;
						background-position: center;
						-webkit-transition: opacity 150ms ease-in-out;
						-moz-transition: opacity 150ms ease-in-out;
						-ms-transition: opacity 150ms ease-in-out;
						-o-transition: opacity 150ms ease-in-out;
						transition: opacity 150ms ease-in-out;
						-webkit-transition: -webkit-transform 150ms ease-in-out;
						-moz-transition: -moz-transform 150ms ease-in-out;
						-o-transition: -o-transform 150ms ease-in-out;
						transition: transform 150ms ease-in-out;
					}
				}
				img{
					width: 100%;
				}
			}
		}
	}
}

#content{
	>.container{
		>.row{
			>.col-12{
				>div{
					box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.16);
					border: solid 0.5px #707070;
					.nav-tabs{
						padding-left: 32px;
						padding-right: 32px;
						.nav-item{
							width: 200px;
							@media (max-width: 767px) { 
								width: 50%;
							}
							.nav-link{
								display: inline-block;
								color: #0a0a0a;
								border: none;
								background: transparent;
								text-decoration: underline;
								font-weight: 600;
								padding-left: 0px;
								padding-right: 0px;
								&.active{
									color: #f11515;
								}
							}
						}
					}
					#detail-tab{
						box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
						border-bottom: solid 0.5px #707070;
					}
					#detail-tab-content{
						#div-overview, #div-content{
							.row{
								h6{
									color: #f11515;
									font-weight: 600;
								}

								.form-enroll{
									.btn{
										padding: 10px 50px;
										font-size: 18px;
									}
								}
							}
						}
						#div-overview{
							>ul{
								padding: 20px 32px;
								padding-bottom: 30px;
								background-color: #f1f2f2;
								font-weight: 600;
								margin-left: 0.5px;
								margin-right: 0.5px;
								li{
									padding-top:10px;
									padding-bottom:10px;
									border-bottom: 0.5px solid #707070;
									p{
										margin-bottom: 0px;
									}
								}
							}
							.row{
								margin:0px;
								p{
									padding-left: 0px;
									&.author-title{
										font-weight: 600;
									}
								}
								ul{
									li{
										&:first-child{
											font-weight: 600;
										}
									}
								}
								.item-people{
									img{
										width: 80px;
										height: 80px;
										cursor: pointer;
										border: 0.5px solid #707070;
									}
									p{
										cursor: pointer;
									}
								}
							}
						}
						#div-content{
							ul{
								&#ul-course{
									font-weight: 600;
								}
								&#material{
									li{
										p{
											font-weight: 600;
										}
									}
								}
							}
						}
						#div-rating{
							h4{
								font-size: 38px;
								font-weight: 700;
								margin-bottom: 1rem;
								span{
									font-size: 14px;
								}
							}
							.row{
								.progress{
									height: 12px;
									margin-bottom: 16px;
									@media (max-width: 767px) { 
										margin-bottom: 5px;
									}
									.progress-bar{
										background-color: #0e73ba;
									}
								}

								.rating{
									@media (max-width: 767px) { 
										float:none !important;
									}
								}
							}
						}
						#div-review{
							a{
								color:#f11515;
								font-weight: 600;
							}
						}

						.is-sticky{
							#div-enroll,#div-enroll-2{
								background-color: #ffffff;
							}
						}

						#div-enroll,#div-enroll-2,.sticky-wrapper{
							@media (max-width: 767px) { 
								display:none;
							}
						}

						#div-enroll,#div-enroll-2{
							.form-check{
								display:none;
								label{
									font-size: 13px;
									@media (max-width: 992px) { 
										font-size: 12px;
									}
								}
							}
						}

						#div-enroll-2{
							min-width: 270px;
							bottom: initial !important;
							top: 4px;
							@media (max-width: 992px) { 
								min-width: 200px;
							}
						}
					}
				}
			}
		}
	}
}

#peopleModalCenter{
	button{
		&.close{
			position: absolute;
			top: 0px;
			right: 0px;
			background: #fff;
			opacity: 1;
			color: #707070;
		}
	}
	img{
		width: 100%;
	}
}

#videoModalCenter{
	h6{
		display: -webkit-box !important;
		-webkit-line-clamp: 1;
		-moz-line-clamp: 1;
		-ms-line-clamp: 1;
		-o-line-clamp: 1;
		line-clamp: 1;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		-o-box-orient: vertical;
		box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
		max-height: 44px;
		max-width: calc(100% - 25px);
	}
	.modal-dialog{
		@media (max-width: 575px){
			max-width: 100%;
			margin: 0px;
		}
		@media (min-width: 576px){
			max-width: 640px;
		}
		.modal-content{
			border-radius: 0px;
			.modal-body{
				padding: 0px;
				background-color: #29303b;
    			color: #fff;
				.row{
					>div{
						&:first-child{
							padding: 12px 16px 12px 16px !important;
						}
					}
				}
				.close{
					font-size:18px;
					color: #fff;
					opacity: 1;
				}
				.vjs-big-play-button {
					background-image: url(../img/course/play.svg);
					background-size: cover;
					height: 100px;
					width: 100px;
					margin-top: -1.81666em;
					background-color: transparent;
					border: 0px;
					.vjs-icon-placeholder{
						display:none;
					}
				  }
			}
		}
	}
}
