#filter{
	>ul{
		box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
		@media (max-width: 767px) { 
			display:none;
		}
		>li{
			&:first-child{
				padding: 15px;
				background-color: #F11515;
				color: #ffffff;
				font-size: 1.25rem;
				@media (max-width: 992px) { 
					font-size: 16px;
				}
			}
			&:last-child{
				margin-bottom: 50px;
				>ul{
					padding-bottom: 15px;
				}
			}
			>ul{
				padding-top: 15px;
				color:#0a0a0a;
				>li{
					&:first-child{
						font-weight: 600;
						padding: 4px 15px 0px 15px;
					}
					&:not(:first-child):not(.toggle):not(.sub-filter){
						&:hover{
							color: #f11515;
							width: 99.9%;
							background-color: #f2f3f5;
						}
					}
					a{
						padding: 0px 15px;
						width: 100%;
						display: inline-block;
						color: #0a0a0a;
						margin-bottom: -6px;
						&:hover{
							text-decoration: none;
							color: #f11515;
						}
					}
					p{
						margin-bottom: 0px;
						padding: 0px;
						&:first-child{
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 1;
							-webkit-box-orient: vertical;
							overflow: hidden;
						}
					}

					&.sub-filter{
						display:none;
						li{
							&:hover{
								color: #f11515;
								width: 99.9%;
								background-color: #f2f3f5;
							}
						}
					}

					&.toggle{
						a{
							font-weight: 600;
							color: inherit;
							&:hover{
								text-decoration: underline;
							}
						}
					}
				}
			}
		}	
	}
}

.card-view{
	@media (min-width: 768px) { 
		margin-left: 10px;
	}
}
