#main-slide{
	.owl-carousel{
		.item{
			.download-app{
				position: absolute;
				bottom: 2rem;
				right: 3rem;
				@media (max-width: 767px) { 
					display:none !important;
				}
				li{
					&:first-child{
						padding-right: 5px;
					}
					&:last-child{
						padding-left: 5px;
					}
					img{
						width:100px;
						@media (width: 768px) { 
							width: 80px;
						}	
					}
				}
			}
		}
		.owl-dots{
			margin-top: 0px;
			position: absolute;
			bottom: 10px;
			width: 100%;
			.owl-dot{
				outline: none;
				span{
					border: 1px solid #555555;
					width: 12px;
					height: 12px;
				}
				&.active{
					span{
						background: #555555;
					}
				}
			}
		}
	}
	.owl-nav {
		margin: 0 auto;
		position: absolute;
		z-index: 3;
		top: 43%;
		width: 100%;
		button{
			position: absolute;
			outline: none;
			&.owl-next{
				right: 15px;
			}
			&.owl-prev{
				left: 15px;
			}
			&:hover{
				background: none;
			}

			img{
				width: 15px;
				@media (min-width: 1366px) { 
					width: 25px;
				}
			}
		}
	}
}

section{
	.container{
		.row{
			>div{
				margin: 10px 0;
			}
		}
	}
}

#popular-categories{
	.container{
		.row{
			.top-category{
				box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
				opacity: 1;
				overflow: hidden;
				padding: 10px 15px;
				a{
					color: #981023;
					display: inline-block;
    				width: 100%;
					&:active,&:focus,&:hover{
						color: #981023;
					}
					img{
						width: 35px;
					}
					div{
						height: 50px;
						line-height: 50px;
						display: inline-block;
						text-overflow: ellipsis;
						white-space: nowrap;
						flex: 1;
						min-width: 1px;
						margin-left: 8px;
						font-weight: 500;
					}
				}
			}
		}
	}
}

#viewed-course, #participant-course{
	.container{
		.owl-carousel{
			margin: auto -5px;
			.owl-stage{
				margin: 5px auto;
			}
			.card-item{
				box-shadow: 0 1px 3px 0 rgba(20,23,28,.15);
				margin: auto 5px;
				a{
					color: #0a0a0a;
					display: inline-block;
    				width: 100%;
					&:active,&:focus,&:hover{
						color: #0a0a0a;
						text-decoration: none;
					}
				}
			}
		}
		.owl-nav {
			margin: 0 auto;
			position: absolute;
			z-index: 3;
			top: 40%;
			width: 100%;
			button{
				position: absolute;
				outline: none;
				&.owl-next{
					right: -20px;
				}
				&.owl-prev{
					left: -20px;
				}
				&:hover{
					background: none;
				}
				&.disabled{
					display:none;
				}

				i{
					padding: 12px;
					background: #fff;
					border-radius: 50%;
					color:#707070;
					box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
					&:active,&:focus,&:hover{
						color:#707070;
					}
				}
			}
		}
	}
}

#viewed-course{
	.owl-carousel{
		.card-item{
			img{
				width:100%;
			}
			div{
				p{
					&:first-child{
						font-weight: 800;
						font-size: 18px;
						span{
							font-weight: 600;
							font-size: 16px;
						}
					}
					&.info-status{
						text-transform: uppercase;
						font-weight: 600;
						font-size: 12px;
					}
				}
			}
		}
	}
}

#participant-course{
	.owl-carousel{
		.card-item{
			padding-left: 10px;
			padding-right: 10px;
			img{
				width: 50% !important;
				margin: 30px auto;
				border: 1px solid #ddd;
			}
			div{
				p{
					&:first-child{
						font-weight: 600;
					}
					&.desciption{
						font-size: 12px;
						font-weight: 500;
    					line-height: 24px;
					}
				}
			}
		}
	}
}
