@import "../fonts/fontawesome/fontawesome.min.css";
@import "../fonts/themify/themify-icons.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

body{
	color:#0a0a0a;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

nav{
	background: #ffffff;
	border-bottom: 1px solid #f2f2f2;
	font-size: 16px;
	font-weight: 600;
	.navbar-brand, .navbar-text{
		color: rgba(255,255,255,.8) !important;
		img{
			width:170px;
			@media (max-width: 767px) { 
				width:120px;
			}
		}
	}
	.navbar-nav{
		.nav-link{
			color: #aa222f !important;
		}
	} 

	.hidden-sm-down{
		@media (max-width: 991px) { 
			display:none;
		}
	}

	.hidden-sm-up{
		@media (min-width: 992px) { 
			display:none;
		}
	}

	.nav-item{
		&.active,&:focus,&:hover{
			.nav-link{
				color: #aa222f !important;
			}
		}

		>p{
			color: #aa222f !important;
			position: relative;
    		top: 10px;
		}

		.form-search{
			width:400px;
			@media (max-width: 768px) { 
				width:100%;
			}

			&.is-user{
				@media (max-width: 1100px) { 
					width:300px;
				}
			}
			div{
				border-radius:20px;
				padding: .5rem 1rem;
				background-color:#fff;
				color: #0a0a0a;
				font-weight: 600;
				font-size:1rem;
				border: 0.5px solid #707070;
				i{
					color:#0a0a0a;
					font-weight: bold;
					margin-left: 10px;
					position: relative;
					top: 2px;
				}
				input{
					width: calc(100% - 2rem);
					border: none;
					outline: none;
					font-weight: 600;
					&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
						color: #0a0a0a;
						font-weight: 600;
						opacity: 1; /* Firefox */
					}
					
					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
						color: #0a0a0a;
						font-weight: 600;
					}
					
					&::-ms-input-placeholder { /* Microsoft Edge */
						color: #0a0a0a;
						font-weight: 600;
					}
				}
			}
		}
	}

	.navbar-light{
		.navbar-toggler{
			color: #fff;
			border-color: #fff;
		}
	}

	.dropdown{
		&:hover{
			>.dropdown-menu {
				display: block;
				box-shadow: 0 4px 16px rgba(20,23,28,.25);
			}
		}
	}

	.dropdown-toggle{
		&:after{
			vertical-align: .155em;
		}
	}

	.dropdown-menu-course{
		.dropdown-menu{
			left: 8px;
			width: 477px;
			border: 0.5px solid #707070;
			border-radius: 0px;
			padding: 0px;
			list-style:square;
			list-style-position: inside;
			&:after,&:before{
				border-style: solid;
				border-width: 0 10px 13px;
				content: ''!important;
				height: 0;
				position: absolute;
				left: 55px;
				width: 0;
			}
			&:before{
				border-color: transparent transparent #707070 transparent;
				top: -13px;
			}
			&:after{
				border-color: transparent transparent #fff transparent;
				top: -12px;
			}
			li{
				display: list-item;
				padding: 10px 15px;
				list-style: inherit;
				margin: 0px;
				&:first-child{
					border-bottom: 0.5px solid #707070;
					color: #981023;
					opacity: 1;
					font-weight: 600;
					list-style: none;
					&:hover{
						background-color: transparent;
						color: #981023;
					}
					.btn{
						padding: 5px 10px;
						float: right;
						position: relative;
						bottom: 5px;
						cursor: pointer;
						pointer-events: auto;
						&:active,&:focus,&:hover{
							background-color: #f11515;
							color: #ffffff;
							border-color: #f11515;
						}
					}
				}
				&:not(:first-child){
					padding: 2px 40px;
					font-weight: 500;
					font-size: 1em;
					&:hover{
						color: #f11515;
						width: 99.9%;
						background-color: #f2f3f5;
					}
					a{
						text-decoration: none;
						color:#0a0a0a;
						width: 100%;
						display: inline-block;
						&:hover{
							color: #f11515;
						}
					}
				}
				&:nth-child(2){
					padding-top: 10px;
				}
				&:last-child{
					padding-bottom: 10px;
				}
			}
		}
	}

	.nav-profile{
		>li{
			@media (min-width: 992px) { 
				&:first-child{
					a{
						border-right: 0.5px solid #707070;
					}
				}
				&:not(:last-child){
					padding-top: 12px;
				}
				a{
					&:not(.dropdown-toggle){
						padding-right: 15px !important;
						padding-left: 15px !important;
					}
				}
			}
		}
	}

	.dropdown-menu-notif, .dropdown-menu-profile{
		>a{
			&.nav-link{
				color:#707070 !important;
				&:active,&:focus,&:hover{
					color:#707070 !important;
				}
			}
			&:after{
				display: none;
			}
		}
		.dropdown-menu{
			border: 0.5px solid #707070;
			border-radius: 0px;
			padding: 0px;

			&:after,&:before{
				border-style: solid;
				border-width: 0 10px 13px;
				content: ''!important;
				height: 0;
				position: absolute;
				right: 13px;
				width: 0;
			}
			&:before{
				border-color: transparent transparent #707070 transparent;
				top: -13px;
			}
			&:after{
				border-color: transparent transparent #fff transparent;
				top: -12px;
			}
		}
	}

	.dropdown-menu-notif{
		margin-right: 10px;
		>a{
			width: 50px;
			height: 50px;
			text-align: center;
			margin-top: -5px;
			i{
				font-size: 20px;
			}
			&.notif-hover, &.notif-hover2{
				border: 1px solid;
				background: rgba(20, 23, 28, .05);
				border-color: rgba(20, 23, 28, .05);
				border-radius: 50%;
			}
			img{
				margin-top: 5px;
			}
		}
		span{
			&.badge{
				padding: 3px 5px 2px;
				position: absolute;
				top: 12px;
				right: 8px;
				display: inline-block;
				min-width: 10px;
				font-size: 12px;
				font-weight: bold;
				color: #ffffff;
				line-height: 1;
				vertical-align: baseline;
				white-space: nowrap;
				text-align: center;
				border-radius: 10px;
				pointer-events: none;
			}
			&.badge-danger {
				background-color: #db5565;
			}
		}
		.dropdown-menu{
			width: 250px;
			>li{
				&:first-child{
					font-weight: 600;
					border-bottom: 0.5px solid #707070;
					padding: 10px;
					margin-left: 1px;
					font-size:15px;
					a{
						padding: 0px !important;
						padding-right: 5px !important;
						font-size: 20px;
						margin-top: -5px;
						&:active,&:focus,&:hover{
							text-decoration: none !important;
						}
					}
				}
				a{
					color: #0a0a0a !important;
				}
			}

			.timeline {
				list-style: none;
				padding-left: 0;
				position: relative;
				min-height: 80px;
				pointer-events: none;
				>li {
					font-size: 14px;
					padding-bottom: 20px;
					p{
						color: #0a0a0a !important;
					}
					&.no-notif{
						p{
							position: absolute;
							bottom: 15px;
							margin: 0px;
							text-align: center;
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}

	.dropdown-menu-profile{
		.dropdown-menu{
			width: 300px;
			&:after,&:before{
				right: 22px;
			}
			>li{
				font-weight: 600;
				&:first-child{
					padding: 10px 1.5rem;
					padding-top:20px;
				}
				&:last-child{
					padding-bottom:20px;
				}
				&:not(:first-child){
					&:hover{
						width: 99.9%;
						background-color: #f2f3f5;
					}
				}
				a{
					color: #0a0a0a !important;
					width: 100%;
					display: block;
					&:active,&:focus,&:hover{
						text-decoration: none !important;
					}
				}
				.d-profile{
					img{
						width: 55px;
					}
					p{
						font-size: 16px;
						margin:0px;
						&:last-child{
							font-size: 13px;
							color: #707070;
						}
					}
				}
			}
		}
	}
}

footer{
	background: #981023; /* Old browsers */
	background: -moz-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #981023 0%,#d62432 50%,#e82a36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #981023 0%,#d62432 50%,#e82a36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981023', endColorstr='#e82a36',GradientType=1 ); /* IE6-9 */
	color:#ffffff;
	ul{
		&:not(.dropdown-menu){
			li{
				display: inline-block;
				a{
					margin-bottom: .5rem;
					font-family: inherit;
					font-weight: 500;
					line-height: 1.2;
					color:#ffffff;
					font-size: 12px;
					&:active,&:focus,&:hover{
						color:#ffffff;
					}
				}
			}
		}
	}
	.col-md-8{
		div{
			&.dropup{
				select{
					&.dropup{
						outline: none;
					}
				}
				button{
					border: 1px solid #ffffff;
					border-radius: 0px;
					background-color: #aa222f;
					color: #ffffff;
					&:active,&:focus,&:link,&:visited,&:hover{
						background-color: #aa222f !important;
						color: #ffffff !important;
						border-color: #ffffff !important;
						box-shadow: none !important;
						outline: none !important;
					}
				}
				.dropdown-menu{
					background-color: #aa222f;
					border: 0.5px solid #ffff;
					border-bottom:none;
					border-radius: 0px;
					padding: 0px;
					margin-bottom: 0px;
					font-size: 14px;
					li{
						a{
							color: #ffffff;
							padding: .3rem 1.25rem;
							&:hover{
								color: #ffffff;
								background-color: #aa222f;
							}
							&.active{
								background-color: #aa222f;
								&:hover{
									color: #ffffff;
									background-color: #aa222f;
								}
							}
							&:active,&:focus,&:link,&:visited,&:hover{
								outline: none !important;
							}
						}
					}
				}
			}
			&.show{
				&>.btn-light{
					&.dropdown-toggle{
						background-color: #aa222f;
						color: #ffffff;
						border-color: #ffffff;
						&:after{
							color:#ffffff;
						}
					}
				}
			}
		}
		ul{
			&:not(.dropdown-menu){
				li{
					padding-right: 10px;
					border-right: 1.5px solid #ffffff;	
					&:last-child{
						border:none;
					}
					&:not(:first-child){
						padding-left: 10px;
					}
				}
			}
		}
	}
	.col-md-4{
		@media (min-width: 768px) { 
			padding-left: 3rem!important;
		}
		@media (min-width: 1024px) { 
			padding-left: 5rem!important;
		}
		@media (min-width: 1200px) { 
			padding-left: 9rem!important;
		}
		ul{
			&.download-app{
				li{
					&:first-child{
						padding-right: 5px;
					}
					&:last-child{
						padding-left: 5px;
					}
					img{
						width:100px;
						@media (min-width: 768px) and (max-width: 1024px){ 
							width: 80px;
						}	
					}
				}
			}
			&.social-media{
				margin-bottom: 0.625rem;
				li{
					margin-right:5px;
					img{
						width:25px;
					}	
					&:first-child{
						img{
							width: 30px;
						}
					}
					&:nth-child(3){
						img{
							width: 28px;
						}
					}
				}
			}
		}
		.footer-copyright{
			font-size: 12px;
		}
	}

	hr{
		border-color: #fff;
	}
}

/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
	.animate {
	  animation-duration: 0.3s;
	  -webkit-animation-duration: 0.3s;
	  animation-fill-mode: both;
	  -webkit-animation-fill-mode: both;
	}
  }
  
  @keyframes slideIn {
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
	100% {
	  transform:translateY(0rem);
	  opacity: 1;
	}
	0% {
	  transform: translateY(1rem);
	  opacity: 0;
	}
  }
  
  @-webkit-keyframes slideIn {
	0% {
	  -webkit-transform: transform;
	  -webkit-opacity: 0;
	}
	100% {
	  -webkit-transform: translateY(0);
	  -webkit-opacity: 1;
	}
	0% {
	  -webkit-transform: translateY(1rem);
	  -webkit-opacity: 0;
	}
  }
  
  .slideIn {
	-webkit-animation-name: slideIn;
	animation-name: slideIn;
  }

ul{
	&.ui-autocomplete{
		position: fixed;
		z-index:9999;
	}
}

section{
	&#breadcrumb-container{
		background-color: #f7f8fa;
    	min-height: 44px;
		nav{
			border: none;
			background-color: #f7f8fa;
			ol{
				background: none;
				font-size: 13px;
				margin-bottom: 0px;
				li{
					&.breadcrumb-item+.breadcrumb-item{
						&:before{
							color: #686f7a;
							content: '>'
						}
					}
					i,a{
						color: #686f7a;
						font-weight: 700;
					}
					&.active{
						font-weight: 500;
					}
				}
			}
		}
	}

	&#content{
		.card-view{
			margin-left:0px;
			margin-right:0px;
			a{
				text-decoration: none;
			}
			>p{
				font-size: 1.125rem;
				font-weight: 600;
				color: #f11515;
				margin-bottom: 0px;
			}
			.card-item{
				box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
				div{
					p{
						font-size:0.875rem;
						color:#070001;
						&:first-child{
							margin-bottom: 0px;
						}
					}
				}
			}
		}
	}

	&#main-slide-2{
		img{
			width: 100%;
		}
		>div{
			position: relative;
		}
		div{
			&.overlay{
				position: absolute;
				opacity: 0.84;
				width: 100%;
				bottom: 0px;
				height: 48px;
				background-color: #f11515;
			}
			&.title{
				width: 100%;
				position: absolute;
				bottom: 0px;
				p{
					margin-bottom: 0px;
					font-size: 20px;
					font-weight: 600;
					color: #ffffff;
				}
			}
		}
	}

	&#main-slide-3{
		img{
			width: 100%;
		}
		>div{
			position: relative;
			background-image: url("../img/course/subject/main-image.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width: 767px) { 
				background-image: url("../img/course/subject/main-image-m.jpg");
			}
		}
		div{
			&.overlay{
				background-color: #aa222f;
				opacity: 0.44;
				height: 150px;	
			}
			&.title{
				padding: 20px;
				position: absolute;
				bottom: 0px;
				width: 100%;	
				height: 100%;
				z-index: 99;
				.container{
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					p{
						margin-bottom: 0px;
						font-size: 14px;
						font-weight: 600;
						color: #ffffff;
						&:first-child{
							font-size: 24px;
							margin-bottom: 10px;
							@media (max-width: 767px) { 
								font-size: 20px;
							}
						}
						&:last-child{
							position: relative;
							top: 15px;
						}
					}
				}
			}
		}
	}
}

#search-container, #search-bottom-container{
	position: absolute;
	width: 450px;
	margin-left: -80px;
	ul{
		width: 82% !important;
		position: relative;
		top: 0px !important;
		border: 0.5px solid #707070;
		li{
			padding: 5px 15px;
			&.ui-menu-item{
				&:hover{
					background-color: #f2f3f5;
					color: #f11515;
					width: 99.9%;
					margin-top:1px;
				}
			}
			i{
				margin-right: 5px;
			}
		}
	}
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 769px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.btn{
	font-weight: 600;
    font-size: 14px;
	padding: .5rem 1.25rem;
	border-radius: 16px;
	cursor: pointer;
	outline: none;
	&:active,&:focus,&:hover{
		outline: none !important;
		box-shadow: none !important;
	}
	&.btn-primary{
		background-color: #f11515;
		color: #ffffff;
		border-color: #f11515;
		&:active,&:focus,&:hover{
			background-color: #f11515 !important;
			color: #ffffff !important;
			border-color: #f11515 !important;
		}
	}
	&.btn-default{
		border: solid 0.5px #707070;
		font-size: 18px;
		color:#0a0a0a;
		background-color: #fff;
		&:active,&:focus,&:hover{
			color:#0a0a0a;
		}
	}
}

.title{
	font-weight: 600;
	font-size: 18px;
}

hr{
	&.divider{
		border-top: 10px solid #aa222f;
	}
}

.rating {
	>i{
		&.fa-star, &.fa-star-half-o {
			color: orange;
		}
	}
	>span{
		&.rating-text{
			font-weight: 500;
			margin-left: 5px;
			font-size: 14px;
		}
	}
}

input[type="checkbox"]{
	width: 15px;
	height: 15px;
}

#sticky-bottom{
	background: #fff;
    left: 0;
    overflow-y: hidden;
    position: fixed;
    right: 0;
	z-index: 1000;
	bottom: 0px;
	padding: 10px 30px;
	@media (min-width: 768px) { 
		display:none;
	}

	.btn{
		text-transform: uppercase;
	}
	label{
		font-size: 12px;
	}
	input[type="checkbox"]{
		position: absolute;
		top: 6px;
	}
}
