@import "../css/base.css";
@import "../fonts/fontawesome/fontawesome.min.css";
@import "../fonts/themify/themify-icons.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

body{
	color:#0a0a0a;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

@import 'base/animate';
@import 'base/grid';
@import 'base/nav';
@import 'base/footer';
@import 'base/sidebar';
@import 'base/section';
@import 'base/search';

.container{
	padding-right: 16px;
    padding-left: 16px;
}

#content{
	min-height: 100vh;
    transition: all 0.3s;
}

.hidden-sm-down{
	@media (max-width: 767px) { 
		display:none !important;
	}
}

.hidden-sm-up{
	@media (min-width: 768px) { 
		display:none !important;
	}
}

.hidden-sm{
	@media (min-width: 768px) and (max-width: 992px) { 
		display:none !important;
	}
}

.hidden-md-up{
	@media (min-width: 992px) { 
		display:none !important;
	}
}

.btn{
	font-weight: 600;
    font-size: 14px;
	padding: .5rem 1.25rem;
	border-radius: 16px;
	cursor: pointer;
	outline: none;
	&:active,&:focus,&:hover{
		outline: none !important;
		box-shadow: none !important;
	}
	&.btn-primary{
		background-color: #f11515;
		color: #ffffff;
		border-color: #f11515;
		&:active,&:focus,&:hover{
			background-color: #f11515 !important;
			color: #ffffff !important;
			border-color: #f11515 !important;
		}
	}
	&.btn-default{
		border: solid 0.5px #707070;
		font-size: 18px;
		color:#0a0a0a;
		background-color: #fff;
		&:active,&:focus,&:hover{
			color:#0a0a0a;
		}
	}
}

.title{
	font-weight: 600;
	font-size: 18px;
}

hr{
	&.divider{
		border-top: 10px solid #aa222f;
	}
}

.bg-gray{
	background-color: #f1f2f2;
}

.font-weight-600{
	font-weight: 600;
}

.progress-bar{
	background: #0e73ba;
}

.rating {
	min-height: 22px;
	>i{
		&.fa-star, &.fa-star-half-o {
			color: orange;
		}
	}
	>span{
		&.rating-text{
			font-weight: 500;
			margin-left: 5px;
			font-size: 14px;
		}
	}
}

.card-view{
	margin-left:0px;
	margin-right:0px;
	a{
		text-decoration: none;
	}
	>p{
		font-size: 1.125rem;
		font-weight: 600;
		color: #f11515;
		margin-bottom: 0px;
	}
	.card-item{
		box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
		img{
			width:100%;
		}
		a{
			color: #0a0a0a;
			display: inline-block;
			width: 100%;
			&:active,&:focus,&:hover{
				color: #0a0a0a;
				text-decoration: none;
			}
		}
		div{
			p{
				&:first-child{
					font-weight: 700;
					font-size: 15px;
					display: -webkit-box!important;
					-webkit-line-clamp: 2;
					-moz-line-clamp: 2;
					-ms-line-clamp: 2;
					-o-line-clamp: 2;
					line-clamp: 2;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					-o-box-orient: vertical;
					box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
					height: 44px;
					margin-bottom: 5px;
				}
				&.author{
					color: #707070;
					font-weight: 600;
					font-size: 10.5px;
				}
				&.info-status{
					text-transform: uppercase;
					font-weight: 600;
					font-size: 11px;
				}
				&.info-progress, &.info-start{
					color: #707070;
					font-size: 12px;
				}
				&.info-rating{
					color: #707070;
					font-weight: 600;
					font-size: 12px;
				}
				&.info-start{
					color: #007791;
					font-weight: 600;
					text-transform: uppercase;
				}
			}
			&.progress{
				background-color: rgba(41,48,59,.25);
				display: block;
				height: 4px;
				.progress-bar{
					display: inherit;
					height: inherit;
					background-color: #0e73ba;
				}
			}
			&.detail-bottom{
				min-height: 48px;
			}
		}
	}
}

input[type="checkbox"]{
	width: 15px;
	height: 15px;
}

#sticky-bottom{
	background: #fff;
    left: 0;
    overflow-y: hidden;
    position: fixed;
    right: 0;
	z-index: 1000;
	bottom: 0px;
	padding: 10px 30px;
	@media (min-width: 768px) { 
		display:none;
	}

	.btn{
		text-transform: uppercase;
	}
	label{
		font-size: 12px;
	}
	input[type="checkbox"]{
		position: absolute;
		top: 6px;
	}
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    margin: 0 auto;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
	vertical-align: middle;
}

.modal{
	.modal-content{
		border: none;
    	border-radius: 0px;
	}
}
