@import "../css/base.css";
@import "../fonts/fontawesome/fontawesome.min.css";
@import "../fonts/themify/themify-icons.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap');

body{
	color:#0a0a0a;
	font-size:15px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

@import 'base/animate';
@import 'base/grid';
@import 'base/nav';
@import 'base/footer';
@import 'base/sidebar';
@import 'base/section';
@import 'base/search';

.container{
	padding-right: 16px;
    padding-left: 16px;
}

#content{
	min-height: 100vh;
    transition: all 0.3s;
}

.hidden-sm-down{
	@media (max-width: 767px) { 
		display:none !important;
	}
}

.hidden-sm-up{
	@media (min-width: 768px) { 
		display:none !important;
	}
}

.hidden-sm{
	@media (min-width: 768px) and (max-width: 992px) { 
		display:none !important;
	}
}

.hidden-md-up{
	@media (min-width: 992px) { 
		display:none !important;
	}
}

.btn{
	font-weight: 600;
    font-size: 14px;
	padding: .5rem 1.25rem;
	border-radius: 16px;
	cursor: pointer;
	outline: none;
	&:active,&:focus,&:hover{
		outline: none !important;
		box-shadow: none !important;
	}
	&.btn-primary{
		background-color: #f11515;
		color: #ffffff;
		border-color: #f11515;
		&:active,&:focus,&:hover{
			background-color: #f11515 !important;
			color: #ffffff !important;
			border-color: #f11515 !important;
		}
	}
	&.btn-default{
		border: solid 0.5px #707070;
		font-size: 18px;
		color:#0a0a0a;
		background-color: #fff;
		&:active,&:focus,&:hover{
			color:#0a0a0a;
		}
	}
}

.title{
	font-weight: 600;
	font-size: 18px;
}

hr{
	&.divider{
		border-top: 10px solid #aa222f;
	}
}

.rating {
	>i{
		&.fa-star, &.fa-star-half-o {
			color: orange;
		}
	}
	>span{
		&.rating-text{
			font-weight: 500;
			margin-left: 5px;
			font-size: 14px;
		}
	}
}

input[type="checkbox"]{
	width: 15px;
	height: 15px;
}

#sticky-bottom{
	background: #fff;
    left: 0;
    overflow-y: hidden;
    position: fixed;
    right: 0;
	z-index: 1000;
	bottom: 0px;
	padding: 10px 30px;
	@media (min-width: 768px) { 
		display:none;
	}

	.btn{
		text-transform: uppercase;
	}
	label{
		font-size: 12px;
	}
	input[type="checkbox"]{
		position: absolute;
		top: 6px;
	}
}
