footer{
	background: #981023; /* Old browsers */
	background: -moz-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #981023 0%,#d62432 50%,#e82a36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #981023 0%,#d62432 50%,#e82a36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#981023', endColorstr='#e82a36',GradientType=1 ); /* IE6-9 */
	color:#ffffff;
	ul{
		&:not(.dropdown-menu){
			li{
				display: inline-block;
				a{
					margin-bottom: .5rem;
					font-family: inherit;
					font-weight: 500;
					line-height: 1.2;
					color:#ffffff;
					font-size: 12px;
					&:active,&:focus,&:hover{
						color:#ffffff;
					}
				}
			}
		}
	}
	
	ul{
		&:not(.dropdown-menu):not(.social-media):not(.download-app){
			li{
				border-right: 1.5px solid #ffffff;	
				&:last-child{
					border:none;
				}
				&:not(:first-child){
					padding-left: 10px;
				}
				&:not(:last-child){
					padding-right: 10px;
				}
			}
		}
	}

	.col-md-7{
		div{
			&.dropup{
				select{
					&.dropup{
						outline: none;
					}
				}
				button{
					border: 1px solid #ffffff;
					border-radius: 0px;
					background-color: #aa222f;
					color: #ffffff;
					&:active,&:focus,&:link,&:visited,&:hover{
						background-color: #aa222f !important;
						color: #ffffff !important;
						border-color: #ffffff !important;
						box-shadow: none !important;
						outline: none !important;
					}
				}
				.dropdown-menu{
					background-color: #aa222f;
					border: 0.5px solid #ffff;
					border-bottom:none;
					border-radius: 0px;
					padding: 0px;
					margin-bottom: 0px;
					font-size: 14px;
					li{
						a{
							color: #ffffff;
							padding: .3rem 1.25rem;
							&:hover{
								color: #ffffff;
								background-color: #aa222f;
							}
							&.active{
								background-color: #aa222f;
								&:hover{
									color: #ffffff;
									background-color: #aa222f;
								}
							}
							&:active,&:focus,&:link,&:visited,&:hover{
								outline: none !important;
							}
						}
					}
				}
			}
			&.show{
				&>.btn-light{
					&.dropdown-toggle{
						background-color: #aa222f;
						color: #ffffff;
						border-color: #ffffff;
						&:after{
							color:#ffffff;
						}
					}
				}
			}
		}
	}
	.col-md-5{
		@media (min-width: 768px) { 
			padding-left: 3rem!important;
		}
		@media (min-width: 1024px) { 
			padding-left: 5rem!important;
		}
		@media (min-width: 1200px) { 
			padding-left: 9rem!important;
		}
		ul{
			&.download-app{
				li{
					&:first-child{
						padding-right: 5px;
					}
					&:last-child{
						padding-left: 5px;
					}
					img{
						width:100px;
						@media (min-width: 768px) and (max-width: 1024px){ 
							width: 80px;
						}	
					}
				}
			}
			&.social-media{
				margin-bottom: 0.625rem;
				li{
					margin-right:5px;
					img{
						width:25px;
					}	
					&:first-child{
						img{
							width: 30px;
						}
					}
					&:nth-child(3){
						img{
							width: 28px;
						}
					}
				}
			}
			&:not(.social-media):not(.download-app){
				li{
					a{
						@media (width: 768px){
							font-size: 11px;
						}
					}
				}
			}
		}
		.footer-copyright{
			font-size: 12px;
		}
	}

	hr{
		border-color: #fff;
	}
}
