section{
	&#breadcrumb-container{
		background-color: #f7f8fa;
    	min-height: 44px;
		nav{
			border: none;
			background-color: #f7f8fa;
			ol{
				background: none;
				font-size: 13px;
				margin-bottom: 0px;
				li{
					&.breadcrumb-item+.breadcrumb-item{
						&:before{
							color: #686f7a;
							content: '>'
						}
					}
					i,a{
						color: #686f7a;
						font-weight: 700;
					}
					&.active{
						font-weight: 500;
					}
				}
			}
		}
	}

	&#main-slide-2{
		img{
			width: 100%;
		}
		>div{
			position: relative;
		}
		div{
			&.overlay{
				position: absolute;
				opacity: 0.84;
				width: 100%;
				bottom: 0px;
				height: 48px;
				background-color: #f11515;
			}
			&.title{
				width: 100%;
				position: absolute;
				bottom: 0px;
				p{
					margin-bottom: 0px;
					font-size: 20px;
					font-weight: 600;
					color: #ffffff;
					display: -webkit-box !important;
					-webkit-line-clamp: 1;
					-moz-line-clamp: 1;
					-ms-line-clamp: 1;
					-o-line-clamp: 1;
					line-clamp: 1;
					-webkit-box-orient: vertical;
					-moz-box-orient: vertical;
					-ms-box-orient: vertical;
					-o-box-orient: vertical;
					box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: normal;
					height: 44px;
				}
			}
		}
	}

	&#main-slide-3{
		img{
			width: 100%;
		}
		>div{
			position: relative;
			background-image: url("../img/course/subject/main-image.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			@media (max-width: 767px) { 
				background-image: url("../img/course/subject/main-image-m.jpg");
			}
		}
		div{
			&.overlay{
				background-color: #aa222f;
				opacity: 0.44;
				height: 150px;	
			}
			&.title{
				padding: 20px;
				position: absolute;
				bottom: 0px;
				width: 100%;	
				height: 100%;
				z-index: 99;
				.container{
					position: absolute;
					top: 50%;
					left: 50%;
					-ms-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					p{
						margin-bottom: 0px;
						font-size: 14px;
						font-weight: 600;
						color: #ffffff;
						&:first-child{
							font-size: 24px;
							margin-bottom: 10px;
							@media (max-width: 767px) { 
								font-size: 20px;
							}
						}
						&:last-child{
							position: relative;
							top: 15px;
						}
					}
				}
			}
		}
	}
}
