@import "../fonts/fontawesome/css/fontawesome.min.css";
@import "../fonts/fontawesome/css/brands.min.css";
@import "../fonts/fontawesome/css/solid.min.css";
@import "../fonts/themify/themify-icons.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  color: #222;
  font-family: "Montserrat", sans-serif;
}

nav {
  background: #981023;
  /* Old browsers */
  background: -moz-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #981023 0%, #d62432 50%, #e82a36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#981023", endColorstr="#e82a36",GradientType=1 );
  /* IE6-9 */
}
nav .navbar-brand, nav .navbar-text {
  color: rgba(255, 255, 255, 0.8) !important;
}
nav .navbar-brand img, nav .navbar-text img {
  width: 170px;
}
@media (max-width: 767px) {
  nav .navbar-brand img, nav .navbar-text img {
    width: 120px;
  }
}
nav .navbar-nav .nav-link {
  color: #ffffff !important;
}
@media (max-width: 767px) {
  nav .ul-search {
    display: none;
  }
}
nav .nav-item.active .nav-link, nav .nav-item:focus .nav-link, nav .nav-item:hover .nav-link {
  color: #ffffff !important;
}
nav .nav-item p {
  color: #ffffff !important;
  position: relative;
  top: 7px;
}
nav .nav-item .form-search {
  width: 400px;
}
@media (max-width: 768px) {
  nav .nav-item .form-search {
    width: 100%;
  }
}
nav .nav-item .form-search div {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  /*color:#981023;*/
  color: #222222;
  font-weight: 600;
  font-size: 1.125rem;
  border: none;
}
nav .nav-item .form-search div i {
  color: #981023;
  font-weight: bold;
  margin-right: 5px;
  position: relative;
  top: 2px;
}
nav .nav-item .form-search div input {
  width: calc(100% - 2rem);
  border: none;
  outline: none;
  font-weight: 600;
}
nav .nav-item .form-search div input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #981023;
  font-weight: 600;
  opacity: 1;
  /* Firefox */
}
nav .nav-item .form-search div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #981023;
  font-weight: 600;
}
nav .nav-item .form-search div input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #981023;
  font-weight: 600;
}
nav .navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

footer ul li {
  display: inline-block;
}
footer ul li a {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #222222;
  font-size: 1.1rem;
}
@media (width: 768px) {
  footer ul li a {
    font-size: 1rem;
  }
}
footer .col-md-8 ul li {
  padding-right: 10px;
}
@media (min-width: 767px) {
  footer .col-md-8 ul li:first-child {
    border-right: 2.5px solid #222;
  }
}
footer .col-md-8 ul li:nth-child(2) {
  padding-left: 10px;
}
@media (min-width: 768px) {
  footer .col-md-4 {
    padding-left: 3rem !important;
  }
}
@media (min-width: 1024px) {
  footer .col-md-4 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 1200px) {
  footer .col-md-4 {
    padding-left: 9rem !important;
  }
}
footer .col-md-4 ul.download-app li:first-child {
  padding-right: 5px;
}
footer .col-md-4 ul.download-app li:last-child {
  padding-left: 5px;
}
footer .col-md-4 ul.download-app li img {
  width: 100px;
}
@media (width: 768px) {
  footer .col-md-4 ul.download-app li img {
    width: 80px;
  }
}
footer .col-md-4 ul.social-media li {
  margin-right: 5px;
}
footer .col-md-4 ul.social-media li img {
  width: 25px;
}

ul.ui-autocomplete {
  position: fixed;
  z-index: 9999;
}

/*# sourceMappingURL=style.css.map */
