@import "../fonts/fontawesome/fontawesome.min.css";
@import "../fonts/themify/themify-icons.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
body {
  color: #0a0a0a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

nav {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: 600;
}
nav .navbar-brand, nav .navbar-text {
  color: rgba(255, 255, 255, 0.8) !important;
}
nav .navbar-brand img, nav .navbar-text img {
  width: 170px;
}
@media (max-width: 767px) {
  nav .navbar-brand img, nav .navbar-text img {
    width: 120px;
  }
}
nav .navbar-nav .nav-link {
  color: #aa222f !important;
}
@media (max-width: 768px) {
  nav .ul-search {
    display: none;
  }
}
nav .nav-item.active .nav-link, nav .nav-item:focus .nav-link, nav .nav-item:hover .nav-link {
  color: #aa222f !important;
}
nav .nav-item p {
  color: #aa222f !important;
  position: relative;
  top: 10px;
}
nav .nav-item .form-search {
  width: 400px;
}
@media (max-width: 768px) {
  nav .nav-item .form-search {
    width: 100%;
  }
}
nav .nav-item .form-search div {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #0a0a0a;
  font-weight: 600;
  font-size: 1rem;
  border: 0.5px solid #707070;
}
nav .nav-item .form-search div i {
  color: #0a0a0a;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: 2px;
}
nav .nav-item .form-search div input {
  width: calc(100% - 2rem);
  border: none;
  outline: none;
  font-weight: 600;
}
nav .nav-item .form-search div input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a0a0a;
  font-weight: 600;
  opacity: 1;
  /* Firefox */
}
nav .nav-item .form-search div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a0a0a;
  font-weight: 600;
}
nav .nav-item .form-search div input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a0a0a;
  font-weight: 600;
}
nav .nav-item #search-container {
  position: absolute;
  width: 480px;
  margin-left: -80px;
}
nav .nav-item #search-container ul {
  width: 100% !important;
  position: relative;
  top: 0px !important;
  left: 0px !important;
  border: 0.5px solid #707070;
  list-style: square;
  list-style-position: inside;
}
nav .nav-item #search-container ul li {
  padding: 10px 15px;
  list-style: inherit;
}
nav .nav-item #search-container ul li.ui-menu-item:hover {
  background-color: #f2f3f5;
  color: #f11515;
}
nav .nav-item #search-container ul li:first-child {
  border-bottom: 0.5px solid #707070;
  color: #981023;
  opacity: 1;
  list-style: none;
}
nav .nav-item #search-container ul li:first-child:hover {
  background-color: transparent;
  color: #981023;
}
nav .nav-item #search-container ul li:first-child .btn {
  float: right;
  position: relative;
  bottom: 4px;
  cursor: pointer;
  pointer-events: auto;
}
nav .nav-item #search-container ul li:first-child .btn:active, nav .nav-item #search-container ul li:first-child .btn:focus, nav .nav-item #search-container ul li:first-child .btn:hover {
  background-color: #f11515;
  color: #ffffff;
  border-color: #f11515;
}
nav .nav-item #search-container ul li:not(:first-child) {
  padding: 2px 40px;
  font-weight: 500;
}
nav .nav-item #search-container ul li:nth-child(2) {
  padding-top: 10px;
}
nav .nav-item #search-container ul li:last-child {
  padding-bottom: 10px;
}
nav .navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}

section#content {
  margin-top: 82px;
}
@media (max-width: 767px) {
  section#content {
    margin-top: 40px;
  }
}
section .title {
  font-weight: 600;
}
section hr.divider {
  border-top: 10px solid #aa222f;
}

.btn {
  font-weight: 600;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
}
.btn.btn-primary {
  background-color: #f11515;
  color: #ffffff;
  cursor: pointer;
  border-color: #f11515;
  border-radius: 16px;
  font-weight: 600;
}
.btn.btn-default {
  border: solid 0.5px #707070;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  color: #0a0a0a;
  background-color: #fff;
  border-radius: 16px;
}
.btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover {
  color: #0a0a0a;
}

footer {
  background: #981023;
  /* Old browsers */
  background: -moz-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #981023 0%, #d62432 50%, #e82a36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#981023", endColorstr="#e82a36",GradientType=1 );
  /* IE6-9 */
  color: #ffffff;
}
footer ul:not(.dropdown-menu) li {
  display: inline-block;
}
footer ul:not(.dropdown-menu) li a {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-size: 1.1rem;
}
@media (width: 768px) {
  footer ul:not(.dropdown-menu) li a {
    font-size: 1rem;
  }
}
footer ul:not(.dropdown-menu) li a:active, footer ul:not(.dropdown-menu) li a:focus, footer ul:not(.dropdown-menu) li a:hover {
  color: #ffffff;
}
footer .col-md-8 div.dropup select.dropup {
  outline: none;
}
footer .col-md-8 div.dropup button {
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: transparent;
  color: #ffffff;
}
footer .col-md-8 div.dropup button:active, footer .col-md-8 div.dropup button:focus, footer .col-md-8 div.dropup button:link, footer .col-md-8 div.dropup button:visited, footer .col-md-8 div.dropup button:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
  box-shadow: none;
  outline: none;
}
footer .col-md-8 div.show > .btn-light.dropdown-toggle {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}
footer .col-md-8 div.show > .btn-light.dropdown-toggle:after {
  color: #ffffff;
}
footer .col-md-8 ul:not(.dropdown-menu) li {
  padding-right: 10px;
}
@media (min-width: 767px) {
  footer .col-md-8 ul:not(.dropdown-menu) li {
    border-right: 2.5px solid #ffffff;
  }
}
@media (min-width: 767px) {
  footer .col-md-8 ul:not(.dropdown-menu) li:last-child {
    border: none;
  }
}
footer .col-md-8 ul:not(.dropdown-menu) li:not(:first-child) {
  padding-left: 10px;
}
@media (min-width: 768px) {
  footer .col-md-4 {
    padding-left: 3rem !important;
  }
}
@media (min-width: 1024px) {
  footer .col-md-4 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 1200px) {
  footer .col-md-4 {
    padding-left: 9rem !important;
  }
}
footer .col-md-4 ul.download-app li:first-child {
  padding-right: 5px;
}
footer .col-md-4 ul.download-app li:last-child {
  padding-left: 5px;
}
footer .col-md-4 ul.download-app li img {
  width: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .col-md-4 ul.download-app li img {
    width: 80px;
  }
}
footer .col-md-4 ul.social-media {
  margin-bottom: 0.625rem;
}
footer .col-md-4 ul.social-media li {
  margin-right: 5px;
}
footer .col-md-4 ul.social-media li img {
  width: 25px;
}
footer .col-md-4 ul.social-media li:first-child img {
  width: 30px;
}
footer .col-md-4 ul.social-media li:nth-child(3) img {
  width: 28px;
}
footer .col-md-4 .footer-copyright {
  font-size: 0.875rem;
}
footer hr {
  border-color: #fff;
}

ul.ui-autocomplete {
  position: fixed;
  z-index: 9999;
}

/*# sourceMappingURL=style.css.map */
