@import "../fonts/fontawesome/fontawesome.min.css";
@import "../fonts/themify/themify-icons.css";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800&display=swap");
body {
  color: #0a0a0a;
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

nav {
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  font-size: 16px;
  font-weight: 600;
}
nav .navbar-brand, nav .navbar-text {
  color: rgba(255, 255, 255, 0.8) !important;
}
nav .navbar-brand img, nav .navbar-text img {
  width: 170px;
}
@media (max-width: 767px) {
  nav .navbar-brand img, nav .navbar-text img {
    width: 120px;
  }
}
nav .navbar-nav .nav-link {
  color: #aa222f !important;
}
@media (max-width: 991px) {
  nav .hidden-sm-down {
    display: none;
  }
}
@media (min-width: 992px) {
  nav .hidden-sm-up {
    display: none;
  }
}
nav .nav-item.active .nav-link, nav .nav-item:focus .nav-link, nav .nav-item:hover .nav-link {
  color: #aa222f !important;
}
nav .nav-item > p {
  color: #aa222f !important;
  position: relative;
  top: 10px;
}
nav .nav-item .form-search {
  width: 400px;
}
@media (max-width: 768px) {
  nav .nav-item .form-search {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  nav .nav-item .form-search.is-user {
    width: 300px;
  }
}
nav .nav-item .form-search div {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #0a0a0a;
  font-weight: 600;
  font-size: 1rem;
  border: 0.5px solid #707070;
}
nav .nav-item .form-search div i {
  color: #0a0a0a;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: 2px;
}
nav .nav-item .form-search div input {
  width: calc(100% - 2rem);
  border: none;
  outline: none;
  font-weight: 600;
}
nav .nav-item .form-search div input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a0a0a;
  font-weight: 600;
  opacity: 1;
  /* Firefox */
}
nav .nav-item .form-search div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a0a0a;
  font-weight: 600;
}
nav .nav-item .form-search div input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a0a0a;
  font-weight: 600;
}
nav .navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
nav .dropdown:hover > .dropdown-menu {
  display: block;
  box-shadow: 0 4px 16px rgba(20, 23, 28, 0.25);
}
nav .dropdown-toggle:after {
  vertical-align: 0.155em;
}
nav .dropdown-menu-course .dropdown-menu {
  left: 8px;
  width: 477px;
  border: 0.5px solid #707070;
  border-radius: 0px;
  padding: 0px;
  list-style: square;
  list-style-position: inside;
}
nav .dropdown-menu-course .dropdown-menu:after, nav .dropdown-menu-course .dropdown-menu:before {
  border-style: solid;
  border-width: 0 10px 13px;
  content: "" !important;
  height: 0;
  position: absolute;
  left: 55px;
  width: 0;
}
nav .dropdown-menu-course .dropdown-menu:before {
  border-color: transparent transparent #707070 transparent;
  top: -13px;
}
nav .dropdown-menu-course .dropdown-menu:after {
  border-color: transparent transparent #fff transparent;
  top: -12px;
}
nav .dropdown-menu-course .dropdown-menu li {
  display: list-item;
  padding: 10px 15px;
  list-style: inherit;
  margin: 0px;
}
nav .dropdown-menu-course .dropdown-menu li:first-child {
  border-bottom: 0.5px solid #707070;
  color: #981023;
  opacity: 1;
  font-weight: 600;
  list-style: none;
}
nav .dropdown-menu-course .dropdown-menu li:first-child:hover {
  background-color: transparent;
  color: #981023;
}
nav .dropdown-menu-course .dropdown-menu li:first-child .btn {
  padding: 5px 10px;
  float: right;
  position: relative;
  bottom: 5px;
  cursor: pointer;
  pointer-events: auto;
}
nav .dropdown-menu-course .dropdown-menu li:first-child .btn:active, nav .dropdown-menu-course .dropdown-menu li:first-child .btn:focus, nav .dropdown-menu-course .dropdown-menu li:first-child .btn:hover {
  background-color: #f11515;
  color: #ffffff;
  border-color: #f11515;
}
nav .dropdown-menu-course .dropdown-menu li:not(:first-child) {
  padding: 2px 40px;
  font-weight: 500;
  font-size: 1em;
}
nav .dropdown-menu-course .dropdown-menu li:not(:first-child):hover {
  color: #f11515;
  width: 99.9%;
  background-color: #f2f3f5;
}
nav .dropdown-menu-course .dropdown-menu li:not(:first-child) a {
  text-decoration: none;
  color: #0a0a0a;
  width: 100%;
  display: inline-block;
}
nav .dropdown-menu-course .dropdown-menu li:not(:first-child) a:hover {
  color: #f11515;
}
nav .dropdown-menu-course .dropdown-menu li:nth-child(2) {
  padding-top: 10px;
}
nav .dropdown-menu-course .dropdown-menu li:last-child {
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  nav .nav-profile > li:first-child a {
    border-right: 0.5px solid #707070;
  }
  nav .nav-profile > li:not(:last-child) {
    padding-top: 12px;
  }
  nav .nav-profile > li a:not(.dropdown-toggle) {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
nav .dropdown-menu-notif > a.nav-link, nav .dropdown-menu-profile > a.nav-link {
  color: #707070 !important;
}
nav .dropdown-menu-notif > a.nav-link:active, nav .dropdown-menu-notif > a.nav-link:focus, nav .dropdown-menu-notif > a.nav-link:hover, nav .dropdown-menu-profile > a.nav-link:active, nav .dropdown-menu-profile > a.nav-link:focus, nav .dropdown-menu-profile > a.nav-link:hover {
  color: #707070 !important;
}
nav .dropdown-menu-notif > a:after, nav .dropdown-menu-profile > a:after {
  display: none;
}
nav .dropdown-menu-notif .dropdown-menu, nav .dropdown-menu-profile .dropdown-menu {
  border: 0.5px solid #707070;
  border-radius: 0px;
  padding: 0px;
}
nav .dropdown-menu-notif .dropdown-menu:after, nav .dropdown-menu-notif .dropdown-menu:before, nav .dropdown-menu-profile .dropdown-menu:after, nav .dropdown-menu-profile .dropdown-menu:before {
  border-style: solid;
  border-width: 0 10px 13px;
  content: "" !important;
  height: 0;
  position: absolute;
  right: 13px;
  width: 0;
}
nav .dropdown-menu-notif .dropdown-menu:before, nav .dropdown-menu-profile .dropdown-menu:before {
  border-color: transparent transparent #707070 transparent;
  top: -13px;
}
nav .dropdown-menu-notif .dropdown-menu:after, nav .dropdown-menu-profile .dropdown-menu:after {
  border-color: transparent transparent #fff transparent;
  top: -12px;
}
nav .dropdown-menu-notif {
  margin-right: 10px;
}
nav .dropdown-menu-notif > a {
  width: 50px;
  height: 50px;
  text-align: center;
  margin-top: -5px;
}
nav .dropdown-menu-notif > a i {
  font-size: 20px;
}
nav .dropdown-menu-notif > a.notif-hover, nav .dropdown-menu-notif > a.notif-hover2 {
  border: 1px solid;
  background: rgba(20, 23, 28, 0.05);
  border-color: rgba(20, 23, 28, 0.05);
  border-radius: 50%;
}
nav .dropdown-menu-notif > a img {
  margin-top: 5px;
}
nav .dropdown-menu-notif span.badge {
  padding: 3px 5px 2px;
  position: absolute;
  top: 12px;
  right: 8px;
  display: inline-block;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  border-radius: 10px;
  pointer-events: none;
}
nav .dropdown-menu-notif span.badge-danger {
  background-color: #db5565;
}
nav .dropdown-menu-notif .dropdown-menu {
  width: 250px;
}
nav .dropdown-menu-notif .dropdown-menu > li:first-child {
  font-weight: 600;
  border-bottom: 0.5px solid #707070;
  padding: 10px;
  margin-left: 1px;
  font-size: 15px;
}
nav .dropdown-menu-notif .dropdown-menu > li:first-child a {
  padding: 0px !important;
  padding-right: 5px !important;
  font-size: 20px;
  margin-top: -5px;
}
nav .dropdown-menu-notif .dropdown-menu > li:first-child a:active, nav .dropdown-menu-notif .dropdown-menu > li:first-child a:focus, nav .dropdown-menu-notif .dropdown-menu > li:first-child a:hover {
  text-decoration: none !important;
}
nav .dropdown-menu-notif .dropdown-menu > li a {
  color: #0a0a0a !important;
}
nav .dropdown-menu-notif .dropdown-menu .timeline {
  list-style: none;
  padding-left: 0;
  position: relative;
  min-height: 80px;
  pointer-events: none;
}
nav .dropdown-menu-notif .dropdown-menu .timeline > li {
  font-size: 14px;
  padding-bottom: 20px;
}
nav .dropdown-menu-notif .dropdown-menu .timeline > li p {
  color: #0a0a0a !important;
}
nav .dropdown-menu-notif .dropdown-menu .timeline > li.no-notif p {
  position: absolute;
  bottom: 15px;
  margin: 0px;
  text-align: center;
  display: block;
  width: 100%;
}
nav .dropdown-menu-profile .dropdown-menu {
  width: 300px;
}
nav .dropdown-menu-profile .dropdown-menu:after, nav .dropdown-menu-profile .dropdown-menu:before {
  right: 22px;
}
nav .dropdown-menu-profile .dropdown-menu > li {
  font-weight: 600;
}
nav .dropdown-menu-profile .dropdown-menu > li:first-child {
  padding: 10px 1.5rem;
  padding-top: 20px;
}
nav .dropdown-menu-profile .dropdown-menu > li:last-child {
  padding-bottom: 20px;
}
nav .dropdown-menu-profile .dropdown-menu > li:not(:first-child):hover {
  width: 99.9%;
  background-color: #f2f3f5;
}
nav .dropdown-menu-profile .dropdown-menu > li a {
  color: #0a0a0a !important;
  width: 100%;
  display: block;
}
nav .dropdown-menu-profile .dropdown-menu > li a:active, nav .dropdown-menu-profile .dropdown-menu > li a:focus, nav .dropdown-menu-profile .dropdown-menu > li a:hover {
  text-decoration: none !important;
}
nav .dropdown-menu-profile .dropdown-menu > li .d-profile img {
  width: 55px;
}
nav .dropdown-menu-profile .dropdown-menu > li .d-profile p {
  font-size: 16px;
  margin: 0px;
}
nav .dropdown-menu-profile .dropdown-menu > li .d-profile p:last-child {
  font-size: 13px;
  color: #707070;
}

footer {
  background: #981023;
  /* Old browsers */
  background: -moz-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #981023 0%, #d62432 50%, #e82a36 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #981023 0%, #d62432 50%, #e82a36 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#981023", endColorstr="#e82a36",GradientType=1 );
  /* IE6-9 */
  color: #ffffff;
}
footer ul:not(.dropdown-menu) li {
  display: inline-block;
}
footer ul:not(.dropdown-menu) li a {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
  font-size: 12px;
}
footer ul:not(.dropdown-menu) li a:active, footer ul:not(.dropdown-menu) li a:focus, footer ul:not(.dropdown-menu) li a:hover {
  color: #ffffff;
}
footer .col-md-8 div.dropup select.dropup {
  outline: none;
}
footer .col-md-8 div.dropup button {
  border: 1px solid #ffffff;
  border-radius: 0px;
  background-color: #aa222f;
  color: #ffffff;
}
footer .col-md-8 div.dropup button:active, footer .col-md-8 div.dropup button:focus, footer .col-md-8 div.dropup button:link, footer .col-md-8 div.dropup button:visited, footer .col-md-8 div.dropup button:hover {
  background-color: #aa222f !important;
  color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none !important;
  outline: none !important;
}
footer .col-md-8 div.dropup .dropdown-menu {
  background-color: #aa222f;
  border: 0.5px solid #ffff;
  border-bottom: none;
  border-radius: 0px;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 14px;
}
footer .col-md-8 div.dropup .dropdown-menu li a {
  color: #ffffff;
  padding: 0.3rem 1.25rem;
}
footer .col-md-8 div.dropup .dropdown-menu li a:hover {
  color: #ffffff;
  background-color: #aa222f;
}
footer .col-md-8 div.dropup .dropdown-menu li a.active {
  background-color: #aa222f;
}
footer .col-md-8 div.dropup .dropdown-menu li a.active:hover {
  color: #ffffff;
  background-color: #aa222f;
}
footer .col-md-8 div.dropup .dropdown-menu li a:active, footer .col-md-8 div.dropup .dropdown-menu li a:focus, footer .col-md-8 div.dropup .dropdown-menu li a:link, footer .col-md-8 div.dropup .dropdown-menu li a:visited, footer .col-md-8 div.dropup .dropdown-menu li a:hover {
  outline: none !important;
}
footer .col-md-8 div.show > .btn-light.dropdown-toggle {
  background-color: #aa222f;
  color: #ffffff;
  border-color: #ffffff;
}
footer .col-md-8 div.show > .btn-light.dropdown-toggle:after {
  color: #ffffff;
}
footer .col-md-8 ul:not(.dropdown-menu) li {
  padding-right: 10px;
  border-right: 1.5px solid #ffffff;
}
footer .col-md-8 ul:not(.dropdown-menu) li:last-child {
  border: none;
}
footer .col-md-8 ul:not(.dropdown-menu) li:not(:first-child) {
  padding-left: 10px;
}
@media (min-width: 768px) {
  footer .col-md-4 {
    padding-left: 3rem !important;
  }
}
@media (min-width: 1024px) {
  footer .col-md-4 {
    padding-left: 5rem !important;
  }
}
@media (min-width: 1200px) {
  footer .col-md-4 {
    padding-left: 9rem !important;
  }
}
footer .col-md-4 ul.download-app li:first-child {
  padding-right: 5px;
}
footer .col-md-4 ul.download-app li:last-child {
  padding-left: 5px;
}
footer .col-md-4 ul.download-app li img {
  width: 100px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .col-md-4 ul.download-app li img {
    width: 80px;
  }
}
footer .col-md-4 ul.social-media {
  margin-bottom: 0.625rem;
}
footer .col-md-4 ul.social-media li {
  margin-right: 5px;
}
footer .col-md-4 ul.social-media li img {
  width: 25px;
}
footer .col-md-4 ul.social-media li:first-child img {
  width: 30px;
}
footer .col-md-4 ul.social-media li:nth-child(3) img {
  width: 28px;
}
footer .col-md-4 .footer-copyright {
  font-size: 12px;
}
footer hr {
  border-color: #fff;
}

/* Change this breakpoint if you change the breakpoint of the navbar */
@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}
@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}
.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

ul.ui-autocomplete {
  position: fixed;
  z-index: 9999;
}

section#breadcrumb-container {
  background-color: #f7f8fa;
  min-height: 44px;
}
section#breadcrumb-container nav {
  border: none;
  background-color: #f7f8fa;
}
section#breadcrumb-container nav ol {
  background: none;
  font-size: 13px;
  margin-bottom: 0px;
}
section#breadcrumb-container nav ol li.breadcrumb-item + .breadcrumb-item:before {
  color: #686f7a;
  content: ">";
}
section#breadcrumb-container nav ol li i, section#breadcrumb-container nav ol li a {
  color: #686f7a;
  font-weight: 700;
}
section#breadcrumb-container nav ol li.active {
  font-weight: 500;
}
section#content .card-view {
  margin-left: 0px;
  margin-right: 0px;
}
section#content .card-view a {
  text-decoration: none;
}
section#content .card-view > p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f11515;
  margin-bottom: 0px;
}
section#content .card-view .card-item {
  box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}
section#content .card-view .card-item div p {
  font-size: 0.875rem;
  color: #070001;
}
section#content .card-view .card-item div p:first-child {
  margin-bottom: 0px;
}
section#main-slide-2 img {
  width: 100%;
}
section#main-slide-2 > div {
  position: relative;
}
section#main-slide-2 div.overlay {
  position: absolute;
  opacity: 0.84;
  width: 100%;
  bottom: 0px;
  height: 48px;
  background-color: #f11515;
}
section#main-slide-2 div.title {
  width: 100%;
  position: absolute;
  bottom: 0px;
}
section#main-slide-2 div.title p {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
}
section#main-slide-3 img {
  width: 100%;
}
section#main-slide-3 > div {
  position: relative;
  background-image: url("../img/course/subject/main-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  section#main-slide-3 > div {
    background-image: url("../img/course/subject/main-image-m.jpg");
  }
}
section#main-slide-3 div.overlay {
  background-color: #aa222f;
  opacity: 0.44;
  height: 150px;
}
section#main-slide-3 div.title {
  padding: 20px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
}
section#main-slide-3 div.title .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
section#main-slide-3 div.title .container p {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}
section#main-slide-3 div.title .container p:first-child {
  font-size: 24px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  section#main-slide-3 div.title .container p:first-child {
    font-size: 20px;
  }
}
section#main-slide-3 div.title .container p:last-child {
  position: relative;
  top: 15px;
}

#search-container, #search-bottom-container {
  position: absolute;
  width: 450px;
  margin-left: -80px;
}
#search-container ul, #search-bottom-container ul {
  width: 82% !important;
  position: relative;
  top: 0px !important;
  border: 0.5px solid #707070;
}
#search-container ul li, #search-bottom-container ul li {
  padding: 5px 15px;
}
#search-container ul li.ui-menu-item:hover, #search-bottom-container ul li.ui-menu-item:hover {
  background-color: #f2f3f5;
  color: #f11515;
  width: 99.9%;
  margin-top: 1px;
}
#search-container ul li i, #search-bottom-container ul li i {
  margin-right: 5px;
}

.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 769px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
.btn {
  font-weight: 600;
  font-size: 14px;
  padding: 0.5rem 1.25rem;
  border-radius: 16px;
  cursor: pointer;
  outline: none;
}
.btn:active, .btn:focus, .btn:hover {
  outline: none !important;
  box-shadow: none !important;
}
.btn.btn-primary {
  background-color: #f11515;
  color: #ffffff;
  border-color: #f11515;
}
.btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
  background-color: #f11515 !important;
  color: #ffffff !important;
  border-color: #f11515 !important;
}
.btn.btn-default {
  border: solid 0.5px #707070;
  font-size: 18px;
  color: #0a0a0a;
  background-color: #fff;
}
.btn.btn-default:active, .btn.btn-default:focus, .btn.btn-default:hover {
  color: #0a0a0a;
}

.title {
  font-weight: 600;
  font-size: 18px;
}

hr.divider {
  border-top: 10px solid #aa222f;
}

.rating > i.fa-star, .rating > i.fa-star-half-o {
  color: orange;
}
.rating > span.rating-text {
  font-weight: 500;
  margin-left: 5px;
  font-size: 14px;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
}

#sticky-bottom {
  background: #fff;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  right: 0;
  z-index: 1000;
  bottom: 0px;
  padding: 10px 30px;
}
@media (min-width: 768px) {
  #sticky-bottom {
    display: none;
  }
}
#sticky-bottom .btn {
  text-transform: uppercase;
}
#sticky-bottom label {
  font-size: 12px;
}
#sticky-bottom input[type=checkbox] {
  position: absolute;
  top: 6px;
}

/*# sourceMappingURL=style.css.map */
