.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-2dot4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

@media (min-width: 540px) {
  .col-sm-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 769px) {
  .col-md-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 960px) {
  .col-lg-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1140px) {
  .col-xl-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
section#content {
  margin-top: 0px;
}
section#content .subject-title p {
  font-weight: 600;
  font-size: 1rem;
}
section#content .subject-title p:first-child {
  margin-bottom: 10px;
}
section#content .subject-title i {
  font-weight: 600;
  font-size: 1rem;
  position: relative;
  top: 2px;
}
@media (max-width: 767px) {
  section#content .subject-title .btn {
    float: none !important;
  }
}
section#content .card-view {
  margin-left: 0px;
  margin-right: 0px;
}
section#content .card-view a {
  text-decoration: none;
}
section#content .card-view > p {
  font-size: 1.125rem;
  font-weight: 600;
  color: #f11515;
  margin-bottom: 0px;
}
section#content .card-view .card-item {
  box-shadow: 0 1px 3px 0 rgba(20, 23, 28, 0.15);
}
section#content .card-view .card-item div p {
  font-size: 0.875rem;
  color: #070001;
}
section#content .card-view .card-item div p:first-child {
  margin-bottom: 0px;
}
section#search-more {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #f1f2f2;
  font-weight: 600;
}
section#search-more div p {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-right: 15px;
}
section#search-more div .btn-primary {
  margin: 0 auto;
  padding: 14px 4rem;
  font-size: 16px;
}
section#search-more div.search-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  section#search-more div.search-more-container {
    display: block;
  }
  section#search-more div.search-more-container p {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  section#search-more div.search-more-container .form-search {
    width: 90%;
    margin: 0 auto;
  }
}
section#search-more .form-search {
  width: 400px;
}
@media (max-width: 768px) {
  section#search-more .form-search {
    width: 100%;
  }
}
section#search-more .form-search div {
  border-radius: 20px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #0a0a0a;
  font-weight: 600;
  font-size: 1rem;
  border: 0.5px solid #707070;
}
section#search-more .form-search div i {
  color: #0a0a0a;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: 2px;
}
section#search-more .form-search div input {
  width: calc(100% - 2rem);
  border: none;
  outline: none;
  font-weight: 600;
}
section#search-more .form-search div input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #0a0a0a;
  font-weight: 600;
  opacity: 1;
  /* Firefox */
}
section#search-more .form-search div input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #0a0a0a;
  font-weight: 600;
}
section#search-more .form-search div input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #0a0a0a;
  font-weight: 600;
}
section#load-more {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/*# sourceMappingURL=subject.css.map */
